doctype 5
html(lang="en", style="min-height:100%;position:relative;")
  head
    title="What2DoCU"
    link(rel='stylesheet', href='css/normalize.css')
    link(rel='stylesheet', href='css/app.css')
    link(rel='stylesheet', href='css/custom.css')
    script(type="text/javascript", src='javascripts/zepto.min.js') 
    script(type="text/javascript", src='javascripts/foundation.min.js') 
    script(type="text/javascript", src="/socket.io/socket.io.js")
  body(style='background:url("images/BG2.jpg") no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover;background-size: cover;text-align:center;position:fixed !important; position:absolute; top:0; right:0; bottom:0; left:0;')
    .row(style='postion:absolute;top:500px;')
      #info.large-8.large-centered.small-11.small-centered.columns.panel.radius
        h1 What2DoCU
        h2.subheader Find the events the people you care about are going to. 
        a.large.button.radius(href='/home') Login with 
          span(style='font-family: Ubuntu, sans-serif;font-weight:bold;',) facebook
          
    script
      $(document).ready(onResize);
      $(window).resize(onResize);
      
      var onResize = function () {
         var top = ($('body').height() / 2) - ($('#info').height() / 2);
         $('#info').css('top', top + 'px');
      }
