doctype 5
html(lang="en")
  head
    title="What2DoCU"
    link(rel='stylesheet', href='stylesheets/normalize.css')
    link(rel='stylesheet', href='stylesheets/foundation.min.css')
    script(src='javascripts/zepto.min.js') 
    script(src='javascripts/foundation.min.js') 
  body(style='background:url("images/BG.png");')
    .row(style='height:500px;')
      .small-8.small-centered.columns(style='background:#333;height:100%')
        p 
